name: Deploy Website to cPanel

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Install SSH Key
        uses: webfactory/ssh-agent@v0.7.0
        with:
          ssh-private-key: ${{ secrets.SSH_PRIVATE_KEY }}

      - name: Verify SSH connection
        run: |
          ssh -T -p ${{ secrets.PORT }} \
              -o StrictHostKeyChecking=no \
              -o ConnectTimeout=15 \
              ${{ secrets.USERNAME }}@${{ secrets.HOST }} exit
          echo "SSH connection verified successfully"

      - name: Deploy files
        run: |
          rsync -avz --delete \
            -e "ssh -p ${{ secrets.PORT }} -o StrictHostKeyChecking=no -T -o LogLevel=ERROR" \
            --rsync-path="env -i /usr/bin/rsync" \
            ./ \
            ${{ secrets.USERNAME }}@${{ secrets.HOST }}:~/public_html/
