name: Deploy Website to cPanel (Production)

on:
  push:
    branches:
      - Micorp-Production-Code

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Install SSH Key
        uses: webfactory/ssh-agent@v0.7.0
        with:
          ssh-private-key: ${{ secrets.SSH_PRIVATE_KEY }}

      - name: Verify SSH Connection
        run: |
          ssh -p ${{ secrets.PORT }} -T -o StrictHostKeyChecking=no \
          ${{ secrets.USERNAME }}@${{ secrets.HOST }} \
          "echo 'SSH connection successful'"

      - name: Check Remote Rsync Version
        run: |
          ssh -p ${{ secrets.PORT }} -T -o StrictHostKeyChecking=no \
          ${{ secrets.USERNAME }}@${{ secrets.HOST }} \
          "rsync --version"

      - name: Deploy files
        run: |
          rsync -avz --delete \
            -e "ssh -p ${{ secrets.PORT }} -o StrictHostKeyChecking=no -Tq" \
            --rsync-path="env -i /usr/bin/rsync" \
            --no-motd \
            --out-format='%n' \
            ./ \
            ${{ secrets.USERNAME }}@${{ secrets.HOST }}:~/public_html/
        continue-on-error: false
