name: Deploy Website to cPanel

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Install SSH Key
        uses: webfactory/ssh-agent@v0.7.0
        with:
          ssh-private-key: ${{ secrets.SSH_PRIVATE_KEY }}

      - name: Deploy files
        run: |
          rsync -avz --delete \
            -e "ssh -p ${{ secrets.PORT }} -o StrictHostKeyChecking=no -T" \
            --rsync-path="exec /bin/sh -c \"exec /usr/bin/rsync\"" \
            ./ \
            ${{ secrets.USERNAME }}@${{ secrets.HOST }}:~/public_html/
